#select_list{
    background-color:rgb(255,143,135);
}
#select_list ul{
    width:1610px;
    margin:0 auto;
    display:flex;
    list-style:none;
    overflow:hidden;
    justify-content:space-between;
}
#select_list ul li{
    float:left;
    width:25%;
    height:100%;
    line-height:50px;
    text-align:center;
}
#select_list ul li a{
    display:block;
}
#select_list ul li a:hover{
    background-color:antiquewhite;
    color:white;
}
.login{
    display:flex;
    flex-direction:column;
    align-content:center;
    flex-wrap:wrap;
    width:350px;
    height:280px;
    margin:200px auto;
    background-color:#fff;
    border:1px solid #dbdbdb;
}
.uni{
    margin-top:30px;
    margin-bottom:40px;
}
.loginbox input{
    display:block;
    width:280px;
    height:36px;
    padding:8px;
    color: rgba(var(--i1d,38,38,38),1);
    border:1px solid #dbdbdb;
    border-radius:3px;
    margin-bottom:3px;
    margin-left:8px;
}
.loginbtn{
    width:280px;
    height:30px;
    margin:5px;
    background-color:bisque;
    color:white;
    border:0px;
    border-radius:5px;
    margin-left:8px;
}
